.table{
  margin-top:10px;
  border-bottom:1px solid #CCC;
  width:500px;
}

.table th{
  text-align:left;
  padding: 5px 0px;
}

#content_home input, #content_home textarea{
/*  overflow-x: scroll;  */
  width: 420px;
/*  height: 23px;*/
  resize: none; 
}

p.img_home{
  width: 120px;
  height: 120px;
  display: block;
  float: left;
  overflow: hidden;
}

#content_home table {
	padding-top: 15px;
	border: solid 1px;
}

#slide_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#slide_list table {
	margin: 5px 0 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	background-color: #DDD;
}
