.table {
  margin-top:10px;
  border-bottom:1px solid #CCC;
  width:500px;
}

#tabs h2{
  display: block;
  width: 100%;
  margin-left: 10px;
}

.table th {
  text-align:left;
  padding: 5px 0px;
}

.content_home input{
  width: 420px;
  resize: none; 
}

p.img_home{
  height: 150px;
  display: block;
  overflow: hidden;
}

.content_home table {
	padding-top: 15px;
	border: solid 1px;
}

.slide_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.slide_list table {
	margin: 5px 0 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	background-color: #CCC;
}

.tab {
	padding: 10px;
}

#tabs {
	border: solid 1px;
}

#tabs .column{
  float:left;
  display: block;
  padding: 0px 10px 0px 0px;
  background: #EEE;
  border-left: 1px solid #CCC;
  overflow: auto;
}

.tab_select {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 25px;
  display: block;
  width: 100%;
}

ul.tab_select{
  width: 100%;
  margin: 0px 0px 10px 0px;
}

.tab_select li {
	float: left;
	margin: 0;
	padding: 0;
	height: 29px;
	line-height: 29px;
	border: 1px solid #666;
	border-left: none;
	border-top: none;
	overflow: hidden;
	position: relative;
	background: #ddd;
}

.tab_select li.ui-state-active{
  background: #fff;
}

.tab_select li a {
	text-decoration: none;
	color: #333;
	display: block;
	font-family: "Trebuchet MS";
	font-size: 14px;
	padding: 0 20px;
}
.tab_select li a:hover {
	background: #ccc;
	color: #666;
}

