.table {
  margin-top:10px;
  width:500px;
  border-bottom:1px solid #CCC;
}

#tabs .tab_select li.ui-state-default{
  border:none;
  border-bottom:1px solid #EEE;
  background: #fff;
}

.tab_select li {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 29px;
  border: 1px solid #666;
  border-top: none;
  border-left: none;
  background: #ddd;
  line-height: 29px;
}

#tabs .tab_select li.ui-state-active{
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: #ccc;
  color: white;
}

#tabs .tab_select li a {
  display: block;
  padding: 0 20px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-family: "Trebuchet MS";
}
#tabs .tab_select li a:hover {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: #ccc;
  color: #666;
}

#tabs h2{
  display: block;
  width: 100%; 
}

#tabs .wrap{
  padding: 0px 8px;
}

.table th {
  padding: 5px 0px;
  text-align:left;
}

.content_home input{
  width: 97%;
  resize: none; 
}

#columnizer{
  overflow: auto;
  width: 100%;
}

p.img_home{
  display: block;
  overflow: hidden;
  width: 100%;
  height: 150px;
}

p.img_home img{
  width: 100%;
  height: auto;
}

.content_home table {
  padding-top: 15px;
  border: solid 1px;
}

.slide_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slide_list table {
  margin: 5px 0 3px 3px;
  padding: 0.4em;
/* padding-left: 1.5em; */
  width: 99%;
  border-radius: 4px;
  background-color: white;
}

.tab {
  padding: 10px;
}

#tabs {
}

#tabs .column{
  display: block;
  float:left;
  overflow: auto;
  margin-right: 1px;
  padding: 0px 4px 0px 4px;
  padding-bottom: 10px;
  border-left: 1px solid #CCC;
  border-radius: 4px;
  background: #EEE;
}

#tabs .column.column-1{
  width: 98%;
}

#tabs .column.column-2{
  width: 48%;
}

#tabs .column.column-3{
  width: 31%;
}

#tabs .column.column-4{
  width: 23%;
}

.tab_select {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 25px;
  list-style: none;
}

ul.tab_select{
  margin: 0px 0px 10px 0px;
  width: 100%;
}

#save_themes {
  position:absolute;
  top:1em;
  right: 1em;
}

#data_json {
  width: 450px;
  height: 200px;
}

.io_button {
  padding: 20px;
}

.has-screenshot{
  float: left;
  position:relative;
  width: 100%;
}

.has-screenshot img{
  width: 96%;
}

.width-2{
  width: 50%;
  float: left;
}
.width-3{
  width: 33%;
  float: left;
}

.markdown{
  border: 1px solid #69B2CE;
  padding: 4px;
  background: white;
  margin-top: 77px;
}

i.coco{
  background-image: url(pictures.png);
  width:32px;
  height: 32px;
  display: block;
  float: left; 
  margin: -7px 4px;
}

img.flags {
  height: 24px;
  padding-top: 0;
  float: left;
  margin: 0px;
  margin-top: -3px;
  margin-right: 10px;
}
}